.container {

}

.field {
    display: none;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #3c3c3c;
    border-radius: 100%;
}

.field:checked + label:before {

}