.container {
    margin-left: 20px;
    margin-top: 20px;
}

.field {
    display: none;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    display: flex;
}

.label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url("./images/radiobutton_off.svg");
    margin-right: 8px;
}

.field:checked + label:before {
    background-image: url("./images/radiobutton_on.svg");
}