.container {
    display: flex;
    height: 18px;
    align-items: center;
}

.field {
    height: 0;
    width: 0;
}

.field:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./images/checkbox_off.svg");
    margin-top: -8px;
    border: none;
}

.field:checked:before {
    background-image: url("./images/checkbox_on.svg");
}

.field:focus {

}

.field:focus + .label {

}


.label {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    color: #000;
    margin-left: 22px;
}
