.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #777a82;
    margin-bottom: 3px;
}

.size-xl > div:first-child,
.size-xl > div:nth-child(2) {
    width: 480px;
}

.size-lg > div:first-child,
.size-lg > div:nth-child(2) {
    width: 360px;
}

.size-md > div:first-child,
.size-md > div:nth-child(2) {
    width: 248px;
}

.size-sm > div:first-child,
.size-sm > div:nth-child(2) {
    width: 80px;
}

.size-xs > div:first-child,
.size-xs > div:nth-child(2) {
    width: 64px;
}
