.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.field {
    height: 32px;
    border-radius: 2px;
    border: solid 1px #777a82;
    font-size: 14px;
    padding: 10px 8px;
    outline: none;
    box-sizing: border-box;
}

.field:focus {
    border: solid 2px #000;
}

.field:focus + .label {
    font-weight: bold;
}


.label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #777a82;
    margin-bottom: 3px;
}

.size-lg {
    width: 360px;
}

.size-md {

}

.size-sm {
    width: 76px;
}

.size-xs {
    width: 64px;
}

.textarea {
    width: 480px;
    height: 120px;
}