.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {

}

.text {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}