.container {
    background-color: #fff;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fbfbfb;
    padding: 18px 24px;
}

.pageTitle {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.27px;
    color: #000;
    flex-grow: 1;
    margin: 0;
}

.addContactLink {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    background-color: #3c3c3c;
    padding: 7px 21px;
    text-decoration: none;
}