.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("./theme/background.jpg");
    background-size: 242px;
    font-family: 'Open Sans';
}

.header {
    flex-shrink: 0;
    padding: 16px 14px;
}

.body {
    flex-grow: 1;
    height: 1px;
}